@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



html {
    height: 100%;
}

body {
    background-color: #F2F2F2;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* BLOCK HEADER */

.page-header {
    position: relative;
}

.logo-link {
    display: block;
    width: 138px;
    position: absolute;
    left: 70px;
    top: 0;
    cursor: pointer;
}

.logo-link:hover {
    opacity: 0.5;
}

.logo-link:focus {
    opacity: 0.4;
    outline: none;
}

.logo-link:active {
    opacity: 0.3;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 1060px;
    padding-left: 168px;
    box-sizing: border-box;
}

.navigation-list {
    margin: 0;
    padding: 20px 0;
    list-style: none;
    width: 464px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.navigation-link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 20px 16px;
    cursor: pointer;
    position: relative;
}

.navigation-link--current::before {
    content: "";
    position: absolute;
    width: calc(100% - 32px);
    height: 2px;
    border-top: 2px solid rgba(117, 98, 87, 1);
    bottom: -2px;
    left: 16px;
}

.navigation-link:hover {
    color: rgba(117, 97, 87, 1);
}

.navigation-link:focus {
    color: rgba(117, 97, 87, 1);
    outline: none;
}

.navigation-link:active {
    color: rgba(117, 97, 87, 0.3);
}

.user-menu {
    margin: 0;
    margin-left: auto;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.user-item--botton {
    padding-top: 14px;
    padding-left: 20px;
}

.user-link {
    color: #000000;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    display: block;
    width: 20px;
    height: 20px;
    border: 0;
    padding: 22px 12px;
}

.user-link:focus {
    outline: none;
}

.user-link:hover .user-svg {
    fill: rgba(117, 97, 87, 1);
}

.user-link:focus .user-svg {
    fill: rgba(117, 97, 87, 1);
}

.user-link:active .user-svg {
    fill: rgba(117, 97, 87, 0.3);
}

.user-svg {
    fill: black;
}

.favorite {
    position: relative;
}

.favorite-number {
    background-color: #7DB54F;
    color: #ffffff;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    min-width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 11px;
}

.here {
    color: #ffffff;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px;
    display: inline-block;
    border-radius: 4px;
    min-width: 144px;
}

.here:hover {
    background-color: rgba(97, 80, 72, 1);
    outline: none;
}

.here:focus {
    background-color: rgba(97, 80, 72, 1);
    outline: none;
}

.here:active {
    background-color: rgba(117, 97, 87, 1);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.here:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
    outline: none;
}

/* BLOCK MAIN */

.main-container {
    flex-grow: 1;
}

.main-index {
    background-color: #ffffff;
    text-align: center;
}

/* BLOCK HERO */

.hero {
    background-color: #4e7f9f;
    background-image: url("../images/index/triangle.svg"), url("../images/index/index-background.jpg");
    background-size: 100% 57px, cover;
    background-repeat: no-repeat, no-repeat;
    margin: 0 auto;
    padding: 51px 0 78px;
    background-position: 0 bottom, center 0;
    min-height: 356px;
}


/* BLOCK FEATURES */

.features {
    background-color: #ffffff;
    margin: 0;
    padding: 69px 0 0;
}

.features-title {
    position: relative;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0 auto 25px;
    width: 660px;

}

.features-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto 90px;
    padding: 0;
    width: 660px;
}

.features-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    margin: 0;
    padding: 0;
}

.features-item {
    margin: 0;
    padding: 112px 80px;
    box-sizing: border-box;
    min-height: 385px;
    background-color: rgba(131, 179, 211, 0.12);

}

.features-item:nth-child(odd) {
    background-color:rgba(131, 179, 211, 0.20);
}

.features-item--special {
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;
    color: #ffffff;
    padding: 0;
}

.features-container {
    width: 400px;
    padding: 102px 84px;
    box-sizing: border-box;
    background-color: #82B3D3;
}

.features-img {
    height: 100%;
    object-fit: cover;
}

.features-caption {
    position: relative;
    margin: 0 30px 30px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.features-caption::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    left: 60px;
    top: 86px;
}

.features-special::before {
    background-color: rgba(255, 255, 255, 0.3);
    left: 55px;
}


.features-text {
    margin: 62px 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/* BLOCK SERVICE */

.service {
    background-color: #ffffff;
}

.service-container {
    padding: 65px 0 63px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 500px;
}

.service-title {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}


.service-description {
    color: #333333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.service-list {
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 0;
    padding: 0;
}

.service-item {
    margin: 0;
    padding: 183px 85px 80px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 385px;
}

.service-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.house {
    background-image: url("../images/index/house.svg");
    background-position: center 81px;
}

.food {
    background-image: url("../images/index/food.svg");
    background-position: center 81px;
}

.souvenir {
    background-image: url("../images/index/gift.svg");
    background-position: center 79px;
}

.service-subject {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.service-text {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/* BLOCK HOTEL-SEARCH */

.hotel-search {
    margin: 0 auto;
    padding: 96px 0 97px;
}

.hotel-question {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-text {
    margin: 0;
    padding: 20px 0 53px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.hotel-search-link {
    display: inline-block;
    margin: 0;
    padding: 8px 50px;
    color: #ffffff;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

.hotel-search-link:hover {
    background-color: rgba(97, 80, 72, 1);
    outline: none;
}

.hotel-search-link:focus {
    background-color: rgba(97, 80, 72, 1);
    outline: none;
}

.hotel-search-link:active {
    background-color: rgba(117, 97, 87, 1);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.hotel-search-link:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
    outline: none;
}

/* BLOCK FOOTER */

.footer-page {
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
}

/* SUBSCRIBE */

.subscribe {
    margin: 0;
    padding: 96px 188px 104px;
    text-align: center;
}

.subscribe-block {
    color: #ffffff;
    background-color: #82B3D3;
    background-image: url("../images/footer/subscribe-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe-heading {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-text {
    margin: 0;
    margin-bottom: 55px;
    padding: 0 140px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.subscribe-form {
    display: flex;
    margin: 0 auto;
    width: 684px;
}

.subscribe-field {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
    text-align: start;
    padding: 0 17px;
    width: 452px;
}

.subscribe-field:hover {
    background-color: #E6E6E6;
}

.subscribe-field:focus {
    background-color: #E6E6E6;
    border: 3px solid #83B3D3;
    outline: none;
}

.subscribe-field:active {
    color: #000000;
}

.subscribe-button {
    color: #ffffff;
    background-color: #82B3D3;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
    padding: 8px;
    width: 232px;
}

.subscribe-button:hover {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.subscribe-button:focus {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.subscribe-button:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.subscribe-button:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
    outline: none;
}


/* CONTACTS */

.contacts {
    margin: 0 auto;
    padding: 44px 70px 35px;
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    justify-content: space-between;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 47px);

}

.social-item {
    margin: 0 auto;
}

.social-link {
    cursor: pointer;
    display: block;
    padding: 12px;
}

.social-link:focus {
    outline: none;
}

.social-svg {
    fill: #83B3D3;
}

.social-link:hover .social-svg {
    fill: rgba(104, 162, 202, 1);
}

.social-link:focus .social-svg {
    fill: rgba(104, 162, 202, 1);
    outline: none;
}

.social-link:active .social-svg {
    fill: rgba(104, 162, 202, 0.3);
}

.tel-container {
    margin: 0;
    padding: 0;

}

.tel-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    width: 336px;
    display: block;
    cursor: pointer;
    padding: 1px 0 0 3px;
}

.tel-link:hover {
    color: rgba(117, 97, 87, 1);
}

.tel-link:focus {
    color: rgba(117, 97, 87, 1);
    outline: none;
}

.tel-link:active {
    color: rgba(117, 97, 87, 0.3);
}

.academy-link {
    margin: 0;
    padding-top: 4px;
    cursor: pointer;
    display: block;
}

.academy-link:focus {
    outline: none;
}

.academy-svg {
    fill: black;
}

.academy-link:hover .academy-svg {
    fill: rgba(117, 97, 87, 1);
}

.academy-link:focus .academy-svg {
    fill: rgba(117, 97, 87, 1);
    outline: none;
}

.academy-link:active .academy-svg {
    fill: rgba(117, 97, 87, 0.3);
}

/* MODAL */

.modal {
    margin: 0;
    padding: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(242, 242, 242, 0.8);
}

.modal--show {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    margin: 0 auto;
    padding: 64px 70px;
    width: 717px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
    position: relative;

}

.modal-header {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 64px;
}

.modal-title {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-close {
    background-color: #F2F2F2;
    background-image: url("../images/modal/modal-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 52px;
    height: 52px;
    position: absolute;
    right: 52px;
    top: 64px;
}

.modal-close:hover {
    background-color: #E6E6E6;
}

.modal-close:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.modal-close:active {
    background-color: #E6E6E6;
    background-image: url("../images/modal/modal-close-active.svg");
}

.modal-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
}

.date-container {
    display: flex;
    justify-content: space-between;
    min-height: 48px;
}

.date-wrapper {
    width: 440px;
}

.guests-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.guests-container-adult,
.guests-container-children {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 247px;
}

.modal-label {
    margin: 0;
    padding: 12px 5px 10px 0;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    width: 127px;
    display: inline-block;
}

.adult {
    margin: 0;
    padding-right: 0;
}

.children {
    margin: 0;
    padding-left: 4px;
    padding-right: 72px;
    box-sizing: border-box;
}

.form-label-icon {
    position: relative;
}

.tooltip {
    position: absolute;
    margin-top: 11px;
    margin-left: 2px;
    right: 37px;
    width: 26px;
    height: 26px;
}

.tooltip-toggle {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: block;
}

.tooltip-toggle:focus {
    border: 3px solid #82B3D3;
    border-radius: 4px;
    outline: none;
}

.tooltip-icon {
    width: 100%;
    height: 100%;
    display: block;
}

.tooltip-text {
    background-color: rgba(51, 51, 51, 1);
    color: #ffffff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.30);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    width: 216px;
    padding: 21px 19px 22px 22px;
    display: none;
    position: absolute;
    top: 100%;
    left: -116px;
    margin-top: 15px;
}

.tooltip-text::after {
    content: "";
    background-image: url("../images/modal/info-arrow.svg");
    width: 19px;
    height: 9px;
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}

.modal-date {
    margin: 0;
    padding: 2px 17px 0;
    color: #000000;
    background: #F2F2F2 url("../images/modal/date.svg") no-repeat 96% 50%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    box-sizing: border-box;
    border: 3px solid transparent;
    border-radius: 4px;
    width: 440px;
    min-height: 48px;
    position: absolute;
}

.modal-date:hover {
    background-color: #E6E6E6;
    color: rgba(0, 0, 0, 0.6);
}

.modal-date:focus {
    border: 3px solid #83B3D3;
    color: rgba(0, 0, 0, 1);
    outline: none;
}

.modal-date:active {
    color: rgba(0, 0, 0, 1);
}

.error-message {
    color: #ff5757;
}

.message {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    padding: 0 20px;
    position: relative;
    top: 53px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 110px;
}

.decrease,
.increase {
    margin: 0 auto;
    padding: 0;
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    width: 40px;
    height: 48px;
    border: none;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
}

.decrease,
.increase:focus {
    outline: none;
}

.increase {
    border-radius: 0 4px 4px 0;
}

.decrease-svg,
.increase-svg {
    fill: #756157;
    padding: 0 3px;
    height: 20px;
    border: 3px solid transparent;
    border-radius: 4px;
    display: inline-block;
}

.decrease:hover .decrease-svg {
    fill: #000000;
}

.decrease:focus .decrease-svg {
    fill: #000000;
    border: 3px solid #82B3D3;
    outline: none;
}

.decrease:active .decrease-svg {
    fill-opacity: 0.2;
}

.increase:hover .increase-svg {
    fill: #000000;
}

.increase:focus .increase-svg {
    fill: #000000;
    border: 3px solid #82B3D3;
    outline: none;
}

.increase:active .increase-svg {
    fill-opacity: 0.2;
}

.number {
    margin: 0 auto;
    padding: 0;
    background-color: #F2F2F2;
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 30px;
    height: 48px;
    border: none;
}

.number:focus {
    outline: none;
}

.find {
    color: #ffffff;
    background-color: #83B3D3;
    font-family: "PT SANS", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 18px 70px;

}

.find:hover {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.find:focus {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.find:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

/* CATALOG */

/* MAIN-INNER */

.filter-container {
    color: #ffffff;
    background-color: #82B3D3;
    background-image: url("../images/catalog/filter-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 35px 70px 72px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 7px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-item {
    position: relative;
    padding-right: 16px;
    margin-right: 11px;
}


.breadcrumbs-item::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 10px;
    right: 0;
    top: 6px;
    background: url("../images/catalog/arrow.svg") no-repeat 0 0;
}

.breadcrumbs-item:last-child::before {
    display: none;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    cursor: pointer;
}

.home-link {
    background: url("../images/catalog/home.svg") no-repeat center;
    display: block;
    width: 14px;
    height: 22px;
}

.home-link:hover {
    background-color: rgba(255, 255, 255, 0.3)
}

.home-link:focus {
    border-radius: 1px;
    outline: 3px solid #83B3D3;
}

/*CATALOG-FILTER */

.catalog-objects {
    margin-top: 40px;

}

.catalog-filter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    gap: 70px;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 33px;
}

.catalog-filter-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 140px;
    row-gap: 16px;
}

.catalog-filter-item {
    line-height: 23px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.control {
    cursor: pointer;
    display: flex;
    gap: 16px;
}

.control:hover {
    opacity: 0.6;
}

.control:focus {
    outline: none;
}

.control:active {
    opacity: 0.3;
}

.control-input[type="checkbox"] {
    background-color: #ffffff;
    border-radius: 4px;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.control-input[type="checkbox"]:checked {
    background-image: url("../images/catalog/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.control-input[type="radio"] {
    background-color: #ffffff;
    border-radius: 50px;
    appearance: none;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
}

.control-input[type="radio"]:checked {
    background-image: url("../images/catalog/dot-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.control-input:hover {
    opacity: 0.6;
}

.control-input:focus {
    outline: 3px solid #83B3D3;
    outline-offset: 0;
}

.control-input:active {
    opacity: 0.3;
}

.catalog-filter-price {
    margin: 0;
    margin-left: auto;
    padding: 0;
    border: none;
}

.price-container {
    position: relative;
    width: 288px;
    display: flex;
    gap: 2px;
    margin-bottom: 34px;
}

.price-label {
    position: absolute;
    top: 12px;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.label-min {
    left: 105px;
}

.label-max {
    right: 22px;
}

.price-number {
    margin: 0;
    padding: 9px 17px;
    background-color: #F2F2F2;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 143px;
    box-sizing: border-box;
    border: 3px solid transparent;
}

.price-number:hover {
    background-color: #E6E6E6;
}

.price-number:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

.input-min {
    border-radius: 4px 0 0 4px;
}

.input-max {
    border-radius: 0 4px 4px 0;
    ;
}

.range-container {
    position: relative;
    width: 287px;
    height: 20px;
}

.rangescale {
    width: 100%;
    height: 1px;
    border-top: 4px solid rgb(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
}

.range {
    width: 226px;
    height: 1px;
    border-top: 4px solid #ffffff;
    position: absolute;
    left: 0;
    top: -4px;
    z-index: 5;
}

.range-handle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 0;
    border: 3px solid transparent;
    cursor: pointer;
    position: absolute;
    top: -12px;
    z-index: 10;
}

.range-handle:focus {
    border: 3px solid #83B3D3;
    outline: none;
}

.range-handle:active {
    border: 3px solid #83B3D3;
}

.rangle-handle-min {
    left: 0;
}

.rangle-handle-max {
    left: 207px;
}


.catalog-filter-button {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
}

.button-sbt,
.button-rst {
    color: #ffffff;
    background-color: #82B3D3;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 191px;
    height: 36px;
}

.button-sbt:hover {
    background-color: rgba(104, 162, 202, 1);
}

.button-sbt:focus {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.button-sbt:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
}

.button-sbt:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
}

.button-rst {
    background-color: transparent;
    border: 3px solid transparent;
}

.button-rst:hover {
    color: rgba(255, 255, 255, 1);
}

.button-rst:focus {
    color: rgba(255, 255, 255, 1);
    border: 3px solid #83B3D3;
    outline: none;
}

.button-rst:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-rst:disabled {
    color: rgba(255, 255, 255, 1);
}

/*SEARCH RESULTS */

.search-results {
    margin: 0 auto;
    padding: 50px 70px 20px;
}

.search-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 70px;

}

.search-heading {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

.select-control {
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    width: 292px;
    height: 100%;
    margin-left: 130px;
    padding: 12px 0 10px 18px;
    box-sizing: border-box;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    cursor: pointer;
    appearance: none;
    background: url("../images/catalog/arrow-down.svg") no-repeat;
    background-position: right 17px top 50%;
}


.select-control:hover {
    border-color: rgba(104, 162, 202, 1);
}

.select-control:focus {
    border-color: rgba(104, 162, 202, 1);
    outline: none;
}

.select-control:active {
    border-color: rgba(104, 162, 202, 1);
}

.select-control:disabled {
    color: rgba(0, 0, 0, 0.3);
}

.layout-container {
    display: grid;
    grid-template-columns: repeat(3, 48px);
    grid-gap: 8px;
}

.layout {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
}

.layout-current {
    border-color: rgba(0, 0, 0, 1);
}

.layout:hover {
    border-color: rgba(0, 0, 0, 1);
}

.layout:focus {
    border-color: rgba(104, 162, 202, 1);
    outline: none;
}

.layout:active {
    border-color: rgba(0, 0, 0, 1);
}

.table {
    background-image: url("../images/catalog/layout-table.svg");
}

.large-icons {
    background-image: url("../images/catalog/layout-large-icons.svg");

}

.list {
    background-image: url("../images/catalog/layout-list.svg");
}

.hotel-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 20px;
    margin: 0 auto;
    padding: 41px 0;
    position: relative;
}

.hotel-list::after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #E6E6E6;
    left: 0;
    bottom: 0;
    position: absolute;
}

.hotel-item {
    margin: 0;
    padding: 19px 19px 20px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: 212px min-content min-content 36px min-content;
    row-gap: 16px;
    column-gap: 21px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
}


.hotel-link {
    color: #000000;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.img {
    grid-column: 1 / -1;
}

.hotel-img {
    object-fit: cover;
}

.name {
    grid-column: 1 / 3;
}

.name:hover {
    color: rgba(117, 97, 87, 1);
}

.name:focus {
    color: rgba(117, 97, 87, 1);
    outline: none;
}

.name:active {
    color: rgba(117, 97, 87, 0.3);
}

.hotel-subject {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotel-object {
    line-height: 21px;
    font-weight: 400;
    margin: 0;
}

.hotel-price {
    line-height: 21px;
    font-weight: 400;
    margin: 0;
    justify-self: end;
}

.hotel-btn {
    background: #756157;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

}

.hotel-btn:hover {
    background-color: rgba(97, 80, 72, 1);
    outline: none;
}

.hotel-btn:focus {
    background-color: rgba(97, 80, 72, 1);
    outline: none;
}

.hotel-btn:active {
    background-color: rgba(117, 97, 87, 1);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.hotel-btn:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
    outline: none;
}

.button-fav {
    background: #82B3D3;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;

}

.button-fav:hover {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.button-fav:focus {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.button-fav:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.button-fav:disabled {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(255, 255, 255, 1);
    outline: none;
}

.btn-green {
    background-color: #7DB54F;
}

.stars {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}

.stars-four {
    background-image: url("../images/catalog/stars-four.svg");
}

.stars-three {
    background-image: url("../images/catalog/stars-three.svg");
}

.stars-two {
    background-image: url("../images/catalog/stars-two.svg");
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    background: #F2F2F2;
    border-radius: 4px;
    width: 140px;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 22px;
}

.pagination {
    background-color: #ffffff;
    margin: 0;
    padding: 40px 0;
    list-style: none;
    display: flex;
    gap: 8px;
    text-align: center;
}

.pagination-link {
    background-color: #82B3D3;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    min-width: 60px;
    height: 60px;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    padding: 13px;
}

.pagination-link:hover {
    background-color: rgba(104, 162, 202, 1);
}

.pagination-link:focus {
    background-color: rgba(104, 162, 202, 1);
    outline: none;
}

.pagination-link:active {
    background-color: rgba(130, 179, 211, 1);
    color: rgba(255, 255, 255, 0.3);
}

.dots {
    background-color: transparent;
    color: #000000;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;
}

.pagination-current:hover {
    background-color: rgba(242, 242, 242, 1);
}

.pagination-current:focus {
    background-color: rgba(242, 242, 242, 1);
    outline: none;
}

.pagination-current:active {
    background-color: rgba(242, 242, 242, 1);
}
