@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



html {
    height: 100%;
}

body {
    background-color: #F2F2F2;
    color: #333333;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* BLOCK HEADER */

.page-header {
    position: relative;
}

.logo-link {
    display: block;
    width: 138px;
    position: absolute;
    left: 70px;
    top: 0;
}

.navigation {
    display: flex;
    margin: 0 auto;
    width: 1060px;
    padding: 20px 0 20px 168px;
    box-sizing: border-box;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 464px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.navigation-item {}

.navigation-link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding: 20px 16px;
}

.user-menu {
    margin: 0;
    margin-left: auto;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.user-item {}

.user-link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.search {}

.favorites {}

.here {
    color: #ffffff;
    background-color: #756157;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 34px;
    border-radius: 4px;
}

/* BLOCK MAIN */

.main-container {
    flex-grow: 1;
}

.main-index {
    background-color: #ffffff;
    text-align: center;
}

/* BLOCK HERO */

.hero {
    background-color: #4e7f9f;
    background-image: url("../images/index/triangle.svg"), url("../images/index/index-background.jpg");
    background-size: 100% 57px, cover;
    background-repeat: no-repeat, no-repeat;
    margin: 0 auto;
    padding: 51px 0 78px;
    background-position: 0 bottom, center 0;
    min-height: 356px;
}


/* BLOCK FEATURES */

.features {
    background-color: #ffffff;
    margin: 0;
    padding: 69px 0 0;
}

.features-title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    margin: 0 auto 25px;
    width: 660px;

}

.features-description {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin: 0 auto 90px;
    padding: 0;
    width: 660px;
}

.features-list {
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 0;
    padding: 0;
}

.features-item {
    margin: 0;
    padding: 112px 85px;
    box-sizing: border-box;
    min-height: 385px;
    background-color: #ffffff;

}

.features-item:nth-child(even) {
    background-color: rgba(131, 179, 211, 0.12);
}

.features-item--special {
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;
    color: #ffffff;
    padding: 0;
}

.features-container {
    width: 400px;
    padding: 102px 84px;
    box-sizing: border-box;
    background-color: #82B3D3;
}

.features-img {
    height: 100%;
    object-fit: cover;
}

.features-caption {
    margin: 0 30px 30px;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.features-text {
    margin: 62px 0 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/* BLOCK SERVICE */

.service {
    background-color: #ffffff;
}

.service-container {
    padding: 65px 0 63px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 500px;
}

.service-title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
}

.service-description {
    color: #333333;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.service-list {
    list-style: none;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 0;
    padding: 0;
}

.service-item {
    margin: 0;
    padding: 183px 85px 81px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    box-sizing: border-box;
    min-height: 385px;
}

.service-item:nth-child(odd) {
    background-color: rgba(131, 179, 211, 0.12);
}

.house {
    background-image: url("../images/index/house.svg");
    background-position: center 81px;
}

.food {
    background-image: url("../images/index/food.svg");
    background-position: center 81px;
}

.souvenir {
    background-image: url("../images/index/gift.svg");
    background-position: center 79px;
}

.service-subject {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.service-text {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

/* BLOCK HOTEL-SEARCH */

.hotel-search {
    margin: 96px auto;
    padding: 0;
    box-sizing: border-box;
    width: 600px;
}

.hotel-question {
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.hotel-text {
    margin: 0;
    padding: 20px 0 53px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.hotel-search-link {
    display: inline-block;
    margin: 0;
    padding: 8px 50px;
    color: #ffffff;
    background-color: #756157;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
}

/* BLOCK FOOTER */

.footer-page {
    color: #000000;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
}

/* SUBSCRIBE */

.subscribe {
    margin: 0;
    padding: 96px 258px 104px;
    text-align: center;
    width: 684px;
}

.subscribe-block {
    color: #ffffff;
    background-color: #82B3D3;
    background-image: url(../images/footer/subscribe-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe-heading {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.subscribe-text {
    margin: 0;
    margin-bottom: 55px;
    padding: 0 70px;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

.subscribe-form {
    display: flex;
    margin: 0 auto;
    width: 684px;
}

.subscribe-field {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    background-color: #F2F2F2;
    border-radius: 4px 0 0 4px;
    border: none;
    box-sizing: border-box;
    text-align: start;
    padding: 12px 20px;
    width: 452px;
}

.subscribe-button {
    color: #ffffff;
    background-color: #82B3D3;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 8px;
    width: 232px;
}

/* CONTACTS */

.contacts {
    margin: 45px 70px 35px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.social-item {
    margin: 0;
    padding: 13px;
    row-gap: 5px;
}

.social-link {
    display: block;
}

.tel-container {
    margin: 0 auto;
    padding: 0 236px;
}

.tel-link {
    color: #000000;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    width: 331px;
    display: block;
}

.academy-link {
    margin: 0;
    margin-left: auto;
    padding-top: 4px;
}

/* MODAL */

.modal-window {
    display: none;
}

.modal-title {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.modal-close {}

.modal-form {}

.modal-label {
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.modal-date {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.error-message {
    color: #ff5757;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.message {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

.decrease {}

.increase {}

.find {
    color: #ffffff;
    background-color: #83B3D3;
    font-family: inherit;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;

}

/* CATALOG */

/* MAIN-INNER */

.main-inner {}

.filter-container {
    color: #ffffff;
    background-color: #82B3D3;
    background-image: url(../images/catalog/filter-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    text-transform: capitalize;
}

.breadcrumbs {}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

/*CATALOG-FILTER */

.catalog-objects {}

.catalog-filter-group {}

.catalog-filter-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.catalog-filter-list {
    list-style: none;
}

.catalog-filter-item {
    line-height: 23px;
    font-weight: 400;
}

.control {}

.control-input {}

.range-label {}

.range-number {}

.rage-container {}

.rangescale {}

.range-handle {}

.button-sbt {
    font-family: inherit;
}

.button-rst {
    font-family: inherit;
}

/*SEARCH RESULTS */

.seacrh-results {}

.search-heading {
    color: #000000;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.sorting-container {
    color: #333333;
    background-color: #ffffff;
}

.select-control {}

.button {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}

.hotel-list {
    list-style: none;
}

.hotel-link {
    color: #000000;
    text-decoration: none;
}

.hotel-subject {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.hotel-object {
    line-height: 21px;
    font-weight: 400;
}

.hotel-price {
    line-height: 21px;
    font-weight: 400;
}

.hotel-btn {
    background: #756157;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-1,
.button-3,
.button-4 {
    background: #82B3D3;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.button-2 {
    background-color: #7DB54F;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.hotel-rating {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.pagination {
    background-color: #ffffff;
}

.pagination-link {
    background-color: #82B3D3;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
}

.pagination-current {
    background-color: #F2F2F2;
    color: #000000;

}
